body{
    background-color: #090a1a;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: -150px;
    width: auto ;
    /* background-color: #171b3c; */
}
header{
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    /* background-color: white; */
}
.nav{
    display: flex;
    width: 100%;
    /* margin: auto; */
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #171b3c;
}   
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    /* color: rgb(81, 81, 251); */
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;  
}

.nav-link{
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: wheat ;
}

.nav-link:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}

 /*Home */
.home{
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem;
}
.home-content{
    margin: auto;
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.home-img{
    margin: auto;
    width: 180px;
    height: 180px;
    /* border-radius: 50%; */
    border-radius: 50%;
    background: grey;
    overflow: hidden;
    margin-bottom: 2rem;
}
.home-img img{
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
    /* object-position: center; */

}
.home-txt{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.color{
    color: blue;
}
.home-txt h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0px;
    font-size: 20px;
}
/* .home-text h3::before{
content: '';
position: absolute;
top: 50%;
transform: -50%;
left: -15px;
width: 20px;
height: 2px;
background: blue;
} */

.home-txt h2{
    font-size: 30px;
    column-gap: 0px;
    line-height: 0px;
}
.home-txt p{
    font-size: 20px;
    column-gap: 0px;
    margin-bottom: 20px;
}
 section{
    margin-top: 10px;
 }
 .social{
    display: flex;
    align-items: center;
    column-gap: 10px;
 }
 .social a img{
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    color: blue;
    background-color: white;
 }
 .social a img:hover{
    background-color: pink;
    transition: 0.5s;
 }

/* headings */
.heading{
    font-size: 5rem;
    text-transform: uppercase;
    color:#222231;
    text-align: center;
    margin-bottom: 2rem;

}

/* About */
.about {
    min-width: 600px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 7rem;
}

 .about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
 }
 .about-data span{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: palevioletred;
 }
 .about-data h2{
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin: 1rem 0;
 }

.btn{
    font-size: 0.97rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: red;
    background-color: white;
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;

}
.btn img{
    font-size: 1.2rem;
}
.btn:hover{
    background: #546eff;
    transition: 0.5sec;
}
.about-text p{
    font-size: 0.938rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* tech stack */
.tech {
    min-width: 600px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 7rem;
}
.tech-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;

}
.tech-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: #171b3c;
    border-radius: 0.4rem;
    transition: 0.5s ;
}
.tech-box:hover{
    transform: scale(1.05);
    transition: 0.5sec;
}
/* .tech-box i{

} */
.tech-box h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    columns: green;
}
.tech-box p{
    font-size: 0.9rem;

}

/* skills */
.skills {
    min-width: 600px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 7rem;
}
.skills-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

}
.skills-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background: #171b3c;
    border-radius: 0.4rem;

}
.skills-box .bx{
    
}


/* Projects */
.projects {
    min-width: 600px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 7rem;
}
.Project-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.Project-box{
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    overflow: hidden;
    color: #fff;
    background-color: #171b3c;
}

.Project-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.Project-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Project-overlay div{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.Project-overlay h2{
    color: #fff;
}
.Project-overlay i{
    font-size: 24px;
    padding: 10px;
    /* background: ;
    columns: ; */
    border-radius: 4px;
}
.Project-overlay i:hover{
    background-color: #546eff;
    transition: 0.3s;
}
.Project-box:hover{
    transform: scale(1.05);
    top: 0;
    transition: 0.5s;
}
/* Statitics */
.statitics-content{
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    gap: 1.5rem;
}
.statitics-box{
    padding: 20px 10px;
    background: #0d0f2c;
    border-radius:0.4rem;
    text-align: center;
}
.statitics-box h2{
    font-size: 1.2rem;
}
.statitics-box span{
    font-size: 0.845rem;
}


/* contact */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    color: #fff;
}

.contact-content{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    /* align-items: center; */
    /* padding-left: 10px; */
    gap: 2rem;
    color: #fff;
}
.contact-box{
    display: flex;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    color: #fff;
}
.contact-box a img{
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    color: blue;
    background-color: white;
}



/* Making Responsive */
@media all and (min-width: 451px) and (max-width: 750px) and (max-width:990px) {
    .container{
        margin: 0 auto;
        width: 90%;
        margin-bottom: -150px;
    }
    .nav{
        width: 100%;
    }
    .statitics-content{
        display: grid;
        grid-template-columns: repeat(2,200px);
        justify-content: center;
        gap: 1.5rem;
    }
}

@media all and (min-width: 100px) and (max-width: 450px){
    .container{
        margin: 0 auto;
        width: 90%;
        margin-bottom: -150px;
    }
    section{
        width: 90%;
        margin: auto;
        padding: 2rem 0;
    }
    .nav{
        width: 100%;
        padding: 2px 0;
    }
    .heading{
        font-size: 4rem;
    }

    .statitics{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 235px;

    }
    .statitics-content{
        display: grid;
        grid-template-columns: repeat(2,200px);
        justify-content: center;
        gap: 1.5rem;
    }

    .contact{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 150px;
    }
    
}

